.App {
  /* text-align: center; */
}

.logo {
  height: 50px;
  pointer-events: none;

}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.header-container {
  padding: 10px 0px !important;
  /* background-color: #1f2640; */
}

.body-container {
  padding: 10px 0px;
}

.page-header {
  margin-top: 20px;
  color: #2b416c;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: #b3c870 !important
}

.PrivateTabIndicator-colorPrimary-4 {
  background-color: #b3c870 !important
}

th {
  text-align: left;
  color: #818ea7;
}

thead {
  background-color: #f1f1f4;
}

th div, td > div {
  padding: 10px 5px;
  color: #9ba7bb
}

td h3 {
  color: #9ba7bb;
  margin-bottom: 0px;
}

table {
  border-spacing: 0px;
}

.image-with-text {
  display: inline-flex;
  cursor: pointer;
}

.image-with-text img{
  width: 25px;
  height: 25px; 
}

.image-with-text div{
  line-height: 25px;
  margin-left: 5px;
}

.multiple-img-txt{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 640px){
  .multiple-img-txt{
    flex-direction: column;
    min-height: 130px;
  }
}

#alert-dialog-description {
  text-align: center;
}

.pricing {
  display: flex;
  justify-content: space-between;
}